.badge {
    border-radius: 100px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    display: inline-block;
    min-width: 100px;
    text-align: center;
}

.greenColor {
    background-color: #52c41a;
}

.blueColor {
    background-color: #1a69c4;
}

.redColor {
    background-color: #c4251a;
}